<section class="cid-rY5irVLclX mbr-fullscreen mbr-parallax-background" id="header2-6">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Estilos propios con inspiración.</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Nuestras cocinas integrales son distintas una de otra
<br>elaboramos cada pieza con un toque de exclusividad que se adapta
<br>a tus preferencias y necesidades.</p>
                
            </div>
        </div>
    </div>
    
</section>

<section class="features15 cid-rY5mrZAr92" id="features15-8">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Muebles para el hogar y oficina</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style">Fabricamos proyectos habitacionales, Muebles de Cocina, Baños y Closets. Para ello contamos con amplia variedad de accesorios así como materiales importados de la mejor calidad.</h3>

        <div class="media-container-row container pt-5 mt-2">

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/2.jpeg" alt="Mobirise" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">
                            Atención al cliente</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Escuchamos tus ideas y necesidades, y te ofrecemos la gama de posibilidades que se ajustan a tu gusto y presupuesto.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4 col-lg-4">
                
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/12-2.jpeg" alt="Mobirise" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Diseño</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Plasmamos las ideas en visualizaciones 3D para comprender, evaluar y definir con mayor claridad cada proyecto.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="assets/images/2.png" alt="Mobirise" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Elaboración e instalación</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Servicio de instalación y mantenimiento con estándares de calidad.</p>
                    </div>
                </div> 
            </div>

            
        </div>
</div></section>
