<div class="cid-rY5rnjYkoi mbr-reveal fondo" id="footer5-e">

    

    

    <div class="container ">
        <div class="footer-lower">
            <div class="media-container-row mbr-white">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7 text-black">
                        © Copyright {{anio}} D&amp;R COCINAS INTEGRALES.</p>
                </div>
                <div class="col-md-6 mr-5">
                    <div class="social-list align-right">
                      
                        <div class="soc-item">
                            <a href="https://www.facebook.com/profile.php?id=100043740573684&__tn__=%2CdlC-R-R&eid=ARATo0-Jf0_R2nvNkM28n86Hvk2eXGnuQsLXcRNX2qsC9ssujhf-HBVzZrH45i4V-ToOApf55Co5u6zQ&hc_ref=ARQGBAo8Edewx4sehzq8SajbU3XmVP_LW2ZtK_aqosk26iNdwB6d3mDmBUMwVZ7WW30&ref=nf_target" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color:black"></span>
                            </a>
                        </div>
                       
                        <div class="soc-item ">
                            <a href="https://www.instagram.com/dyrcocinasintegrales/?hl=es-la" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color:black"></span>
                            </a>
                        </div>
                       
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>